<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
		<appSettings>

			<add key="Legajo" value ="888086" />
			<add key="URL_API" value ="https://cai-api.azurewebsites.net/api/v1/" />
			<add key="Copyright" value ="TP Grupal UBA CAI 2022 tm" />

		</appSettings>
</configuration>